 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body{
  background-color: #B0CABD;
  font-family: Libre Baskerville;
}

section{
  margin-top: 50px;
  text-align: center;
  @include outer-container;

  header{
    padding: 20px 20px 20px 20px;
    height: inherit;
    border-radius: 20px;
    color: white;
    background-color: #7BE1AE;
    font-size: 0.5em;
    margin-left: 50px;
    border: solid white 1px;
    @include span-columns(3);
    @media screen and (max-width:400px){
      @include span-columns(5);
    }

    button{
      color: green;
      &:hover{
        background-color: red;
        border-radius: 5px;
      }
    }

    input{
      color: black;
      padding: 20 20 20 20;
    }
  }

  article{
    @include span-columns(6);
    width: 30%;
    border: white solid 1px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    height: auto;
    background-color: #7BE1AE;
    @media screen and (max-width:400px){
      @include span-columns(10);
    }

    ul{
      list-style: none;
      color: #70A087;
      font-family: Crafty Girls;
    }
  }
}
